.add-new-fight-page {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 3rem;
  min-height: 100vh;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 360px;
}

.form-wrapper h1 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.add-fight-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.add-fight-form input, .add-fight-form select {
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #f0f0f0;
    border: 1px s0lid #555;
}

.champ-check {
    display: flex;
    align-items: center;
    gap: 8px;
}

.add-fight-form input::placeholder {
    color: #999;
}

.add-fight-form button {
    padding: 8px 12px;
    border-radius: 4px;
}

.back-btn {
    all: unset;
    position: fixed;
    top: 20px;
    left: 13px;
    z-index: 1000;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.back-btn:hover {
    border-color: #646cff;
}

/* ====================================================================
   Base styles - Light mode
=====================================================================*/

@media (prefers-color-scheme: light) {
    .add-fight-form {
    background-color: #f2f2f2;
    color: #222;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }

  .add-fight-form h2 {
    color: #1a1a1a;
  }

  .add-fight-form input,
  .add-fight-form select {
    background-color: #fefefe;
    color: #111;
    border: 1px solid #ccc;
  }

  .add-fight-form-cls-btn button {
    color: #666;
  }

  .add-fight-form-cls-btn button:hover {
    color: #d00;
  }
}