.roundcard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.round-label {
    font-weight: bold;
    margin: 0 10px;
    font-size: 20px;
}

.fighter-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.arrow-btn {
    font-size: 1.4rem;
    background: none;
    border: none;
    cursor: pointer;
}

.score-button-container {
    display: flex;
    justify-content: center;
}

.note-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  transition: opacity 0.3s ease-in-out;
  filter: invert(1);
}

.note-btn:hover {
    opacity: 1;
    transform: scale(1.05);
    filter: brightness(1.3);
}

.note-btn img {
    width: 24px;
    height: 24px;
    filter: brightness(0.3) drop-shadow(0 0 2px rgba(0,0,0,0.3));
}

.notes-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

.notes-popup  h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    text-align: center;
}

.notes-popup textarea {
    width: 100%;
    height: 110px;
    border-radius: 6px;;
    border: 1px solid #444;
    background-color: #2c2c2c;
    color: #fff;
    resize: none;
}

.notes-popup .save-btn {
    display: block;
    margin: 15px auto 0 auto;
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    color: #fff;
    transition: 0.15s ease;
}

.notes-popup .save-btn:hover {
    background-color: #2558d8;
}

.notes-popup .save-btn:active {
    transform: scale(0.96);
}


.notes-popup-cls-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 16px;
    font-weight: bold;
    transition: 0.15s ease;
}

.notes-popup-cls-btn:hover {
    background: rgba(255,255,255,0.2);
}

.notes-popup-cls-btn:active {
    transform: scale(0.9);
}

.close-rd-btn {
    all: unset;
    display: flex;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease , transform 0.1s ease;
    cursor: pointer;
}

.close-rd-btn:hover {
    transform: translateY(-1px);
    background-color: #0056b3;
}

.score-display {
    font-size: 1.5rem;
    font-weight: bold;
}

/* ====================================================================
   Base styles - Light mode
=====================================================================*/
@media (prefers-color-scheme: light) {
    .note-btn {
        filter: invert(0);
    }

    .notes-popup {
    background-color: #f9f9f9;
    color: #111;
    border: 1px solid rgba(0,0,0,0.2);
  }

  .notes-popup textarea {
    background-color: #fff;
    color: #111;
    border: 1px solid #ccc;
  }

  .notes-popup-cls-btn {
    filter: invert(1);
  }
}